<div class="form-field">
    <input
            class="form-field__input{{#if field.error}} form-field__input_error{{/if}}{{#unless field.value}} form-field__input_empty{{/unless}}"
            name="{{field.name}}"
            type="{{field.type}}"
            placeholder="{{field.placeholder}}"
            value="{{field.value}}"
            autocomplete="off"
    >
    <div class="form-field__label">{{field.label}}</div>
    <div class="form-field__error">{{field.error}}</div>
</div>
