<div class="dialog-message-container">
    {{#if message.showDateLabel}}
    <div class="dialog-message-row">
        <div class="dialog-date">
            {{message.dateLabel}}
        </div>
    </div>
    {{/if}}
    <div class="dialog-message-row">
        <div class="dialog-message">
            <div class="dialog-message__avatar">
                {{{ MessageAvatar src=message.user.avatar alt=message.username}}}
            </div>
            <div class="dialog-message__container {{#if message.isOwner}}dialog-message__container_owned{{/if}}">
                <div class="dialog-message__author">{{message.user.login}}</div>
                <div class="dialog-message__body">
                    {{#if message.isMessage}}
                        <div class="dialog-message__text">
                            {{{message.content}}}
                            <div class="dialog-message__status-block">
                                {{{ MessageStatus date=message.time format="H:i"}}}
                            </div>
                        </div>
                    {{/if}}
                    {{#if message.isFile}}
                        <div class="dialog-message__media">
                            <img src="{{message.file}}" class="dialog-message__image" alt="">
                            <div class="dialog-message__status-block dialog-message__status-block_image">
                                {{{ MessageStatus date=message.time format="H:i"}}}
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
