<div class="dialog-message">
    <div class="dialog-message__avatar">
        {{{ MessageAvatar src=message.avatar alt=message.username}}}
    </div>
    <div class="dialog-message__container {{#if message.owner}}dialog-message__container_owned{{/if}}">
        <div class="dialog-message__author">{{message.username}}</div>
        <div class="dialog-message__body">
            {{#if message.message}}
                <div class="dialog-message__text">
                    {{{message.message}}}
                    <div class="dialog-message__status-block">
                        {{{ MessageStatus date=message.date status=message.status}}}
                    </div>
                </div>
            {{/if}}
            {{#if message.image}}
                <div class="dialog-message__media">
                    <img src="{{message.image}}" class="dialog-message__image" alt="">
                    <div class="dialog-message__status-block dialog-message__status-block_image">
                        {{{ MessageStatus date=message.date status=message.status}}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>
