<div class="dialog">
    {{#if dialog}}
        {{{ DialogContact contact=contact}}}
        {{{ DialogList messages=messages}}}
        {{{ DialogForm form=form}}}
    {{else}}
        {{{ DialogEmpty}}}
    {{/if}}
</div>
