<div class="dialog">
    {{#if dialog}}
        {{{ DialogContact contact=dialog.contact}}}
        {{{ DialogList messages=dialog.messages}}}
        {{{ DialogForm form=dialog.form}}}
    {{else}}
        {{{ DialogEmpty}}}
    {{/if}}
</div>
