<div class="contacts-item{{#if contact.current}} contacts-item_current{{/if}}" data-chat-id="{{contact.id}}">
    <div class="contacts-item__avatar">
        {{{ MessageAvatar src=contact.avatar alt=contact.title}}}
    </div>
    <div class="contacts-item__body">
        <div class="contacts-item__info">
            <div class="contacts-item__author">
                {{contact.title}}
            </div>
            {{#if contact.lastMessage}}
                {{{ MessageStatus date=contact.lastMessage.time format="d.m.y"}}}
            {{/if}}
        </div>
        <div class="contacts-item__message">
            <div class="contacts-item__text">
                {{#if contact.lastMessage}}
                    {{contact.lastMessage.content}}
                {{else}}
                    Сообщений нет
                {{/if}}
            </div>
            {{#if contact.unreadCount}}
                {{{ MessageCounter count=contact.unreadCount}}}
            {{/if}}
        </div>
    </div>
</div>
