<div class="contacts-item{{#if contact.current}} contacts-item_current{{/if}}" data-page="{{contact.page}}">
    <div class="contacts-item__avatar">
        {{{ MessageAvatar src=contact.avatar alt=contact.username online=contact.online}}}
    </div>
    <div class="contacts-item__body">
        <div class="contacts-item__info">
            <div class="contacts-item__author">{{contact.username}}</div>
            {{{ MessageStatus date=contact.date status=contact.status format='d.m.y'}}}
        </div>
        <div class="contacts-item__message">
            <div class="contacts-item__text">
                {{#if contact.label}}
                    <b>{{contact.label}}:</b>
                {{/if}}
                {{contact.message}}
            </div>
            {{#if contact.count}}
                {{{ MessageCounter count=contact.count}}}
            {{/if}}
        </div>
    </div>
</div>
